<!--this code lokks for the error message file and renders it here and gives it @recipe as the obj the -->
 <!--the error is for to register a new chef->

<%= render 'shared/errors', obj: @chef %>


<!--This form is moved to a shared file, form partial so the code can be used for the new and editing recipe  -->
<!--which are both under the same folder-->

<!-- this is a model back form to register a new chef, and we want the form to be in the middle of the page and with a well style -->

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @chef  do |f| %>
     <%= f.label :chefname %>
     <%= f.text_field :chefname %>
     
     <%= f.label :email %>
     <%= f.email_field :email %>
     
     <%= f.label :password %>
     <%= f.password_field :password %>
     
     <!--here we are using the method new_record which returns true or false-->
     <!--if the form displays is for new recipe display create recipe but if not diplays edit recipe-->
     <%= f.submit(@chef.new_record? ? 'Register' : 'Edit Profile', class: "btn btn-success") %>
     <% end %>
      
  </div>
</div>