
<!--this code looks for the error message file and renders it here and gives it @recipe as the obj the -->
 <!--the error is for to create new recipe-->

<%= render 'shared/errors', obj: @recipe %>


<!--This form is moved to a shared file, form partial so the code can be used for the new and editing recipe  -->
<!--which are both under the same folder-->

<!-- this is a model back form to create a new recipe, and we want the form to be in the middle of the page and with a well style -->

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for(@recipe, html: { multipart: true }) do |f| %> 
    <!-- the above line of code will give us the ability to include file uploader for image in our form-->
     <%= f.label :name %>
     <%= f.text_field :name %>
     
     <%= f.label :summary %>
     <%= f.text_field :summary %>
     
     <%= f.label :description %>
     <%= f.text_area :description, rows: 10 %>
     
     <!--this code allows user to tick check boxes  to select style or ingredients they want -->
     <strong>Styles:</strong>
     <%= f.collection_check_boxes :style_ids, Style.all, :id, :name do |checkbx| %>
      <% checkbx.label(class: "checkbox-inline input_checkbox") {checkbx.check_box(class: "checkbox") + checkbx.text} %>
      <% end %>
      <br><br>
      
      <strong>Ingredeints:</strong>
     <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cbi| %>
      <% cbi.label(class: "checkbox-inline input_checkbox") {cbi.check_box(class: "checkbox") + cbi.text} %>
      <% end %>
      <br><br>
     
     <!--this is the column for image-->
     <span class="picture">
       <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
     </span>
     
     <!--here we are using the method new_record which returns true or false-->
     <!--if the form displays is for new recipe display create recipe but if not diplays edit recipe-->
     <%= f.submit(@recipe.new_record? ? 'Create New Recipe' : 'Edit Recipe', class: "btn btn-success") %>
     <% end %>
      
  </div>
</div>

<!--this JQuery code validates our image size user is uploading is not more than 5MB in the client side-->
<script type="text/javascript">
  $('#recipe_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5){
      alert('maximum file size is 5MB. Please choose a smaller file');
    }
    
  });
    
  
</script>