
<!--this code lokks for the error message file and renders it here and gives it @recipe as the obj the -->
 <!--the error is for to create a new recipe-->

<%= render 'shared/errors', obj: @recipe %>


<!--This form is moved to a shared file, form partial so the code can be used for the new and editing recipe  -->
<!--which are both under the same folder-->

<!-- this is a model back form to create new recipe, and we want the form to be in the middle of the page and with a well style -->

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @recipe do |f| %>
     <%= f.label :name %>
     <%= f.text_field :name %>
     
     <%= f.label :summary %>
     <%= f.text_field :summary %>
     
     <%= f.label :description %>
     <%= f.text_area :description, rows: 10 %>
     
     <!--here we are using the method new_record which returns true or false-->
     <!--if the form displays is for new recipe display create recipe but if not diplays edit recipe-->
     <%= f.submit(@recipe.new_record? ? 'Create New Recipe' : 'Edit Recipe', class: "btn btn-success") %>
     <% end %>
      
  </div>
</div>